# Creating a unique payments table

In [1]:
import pandas as pd
import numpy as np
import json
import datetime
import pickle
import functions as fn
import io
from sqlalchemy import create_engine

## Extracting payment information

In [2]:
# load the above mentioned pickle
with open('initial_5pct_transactions.pkl', 'rb') as f:
    initial_5pct = pickle.load(f)

In [3]:
payments = []
keys = (['note', 'action', 'status', 'date_created', 'id',
         'merchant_split_purchase', 'audience', 'date_completed'])
subdictionary_keys = ['target', 'actor']
# Onle including the keys in the payment target subdictionary that contains values
target_keys = ['redeemable_target', 'type']
user_key = ['user']
actor_key = ['id']

for transaction in initial_5pct:
    payment = {}
    payment_details = transaction['payment']
    for key, val in payment_details.items():
        if key in keys:
            unpacked = f'{key}'
            payment[unpacked] = val
        elif key in subdictionary_keys:
            for subkey, subval in val.items():
                if subkey in target_keys:
                    subkey_unpacked = f'{key}_{subkey}'
                    payment[subkey_unpacked] = subval
                elif subkey in user_key:
                    subkey_unpacked = f'{key}_{subkey}_{actor_key[0]}'
                    # Some transactions don't have end users and as such they are deemed
                    # as pending or cancelled. However, these should not be dropped because 
                    # the user still made a transaction.
                    try:
                        subkey_unpacked_val = transaction['payment'][f'{key}'][f'{subkey}'][f'{actor_key[0]}']
                        payment[subkey_unpacked] = subkey_unpacked_val
                    except TypeError:
                        continue
                elif subkey in actor_key:
                    subkey_unpacked = f'{key}_{subkey}'
                    payment[subkey_unpacked] = subval
                else:
                    pass
        else:
            pass
    payments.append(payment.copy())

In [4]:
payments_df = pd.DataFrame(payments)

In [5]:
payments_df['date_completed'] = pd.to_datetime(payments_df['date_completed'], format='%Y-%m-%dT%H:%M:%S')
payments_df['date_created'] = pd.to_datetime(payments_df['date_created'], format='%Y-%m-%dT%H:%M:%S')
payments_df = payments_df.sort_values(['actor_id', 'date_created'])

In [6]:
# Identify payers who have pending or cancelled transactions
unsettled_payer_ids = payments_df.loc[payments_df['status'] != 'settled']['actor_id']

In [7]:
# Extract the payers that have at least one unsettled transaction
unique_unsettled_payer_ids = unsettled_payer_ids.unique()

In [8]:
f'There are {len(unique_unsettled_payer_ids)} payers who have made at least one unsettled transaction'

'There are 2349 payers who have made at least one unsettled transaction'

In [9]:
# Identify payers that made a settled transaction given that they had at least one unsettled transaction
actors_with_settled_and_unsettled_trans = set()
for actor in unique_unsettled_payer_ids:
    actor_specific_df = payments_df.loc[payments_df['actor_id'] == f'{actor}']
    for status in actor_specific_df['status']:
        if status == 'settled':
            actors_with_settled_and_unsettled_trans.add(actor)
        else:
            continue

In [12]:
# Identify the payers that have only made unsettled transactions
actors_with_only_unsettled_transactions = (set(unique_unsettled_payer_ids) - 
                                           actors_with_settled_and_unsettled_trans)

In [11]:
#payments_df['unsettled'] = ([1 if actor in actors_with_only_unsettled_transactions else 0 
#                             for actor in payments_df['actor_id']])

In [14]:
# Select the transactions which users with unsettled payments have made within 10 minutes of each other.

# This 10 minute rule though is not very specific. User 2534007896014848135 waited for more than an hour
# but appears to only want to make one transaction. This is a loopwhole through our functions
duplicated_transaction_ids = set()

for actor in actors_with_settled_and_unsettled_trans:
    #Creating actor specific dataframes
    settled_and_unsettled_trans_df = payments_df.loc[payments_df['actor_id'] == f'{actor}']
    transaction_dates = [date for date in settled_and_unsettled_trans_df['date_created']]
    #Separating the dates of created payments for each user
    for i in range(len(transaction_dates)-1):
        time_diff = transaction_dates[i+1] - transaction_dates[i]
        time_diff = time_diff.total_seconds()
        #If the payments are made within 10 minutes then identify those transactions
        if time_diff < 600: #WHY 10 MINUTES THOUGH?
            date_tuple = (transaction_dates[i], transaction_dates[i+1])
            #Create a new dataframe for each user that contains transactions made within 10 minute of each other
            transaction_within_10 = (
                settled_and_unsettled_trans_df.loc[settled_and_unsettled_trans_df['date_created'].isin(date_tuple)])
            #Extract the status' of both transactions
            for status in transaction_within_10['status']:
            #If one of the status' is settled it means that the rest are duplicates
                if status != 'settled':
                    duplicated_id = transaction_within_10.loc[transaction_within_10['status'] == status]['id']
                    duplicated_transaction_ids.add(duplicated_id.any())
        else:
            continue

In [130]:
# Filtering out duplicated and non duplicated transactions from the unsettled bunch
duplicated_unsettled_transaction_ids = set()
non_duplicated_unsettled_transaction_ids = set()

for actor in actors_with_only_unsettled_transactions:
    #Creating actor specific dataframes
    unsettled_trans_df = payments_df.loc[payments_df['actor_id'] == f'{actor}']
    #Separating the dates of created payments for each user
    transaction_dates = [date for date in unsettled_trans_df['date_created']]
    if len(transaction_dates) == 1:
        tran_id = (
            unsettled_trans_df.loc[unsettled_trans_df['date_created'] == transaction_dates[0]]['id'])
        non_duplicated_unsettled_transaction_ids.add(tran_id.any())
    else:
        first_trans_date = None
        for i in range(len(transaction_dates)-1):
            time_diff = transaction_dates[i+1] - transaction_dates[i]
            time_diff = time_diff.total_seconds()
            #If the payments are made within 10 minutes then identify those transactions
            if time_diff < 600: #WHY 10 MINUTES THOUGH?
                date_tuple = (transaction_dates[i], transaction_dates[i+1])
                trans_ids_for_date_tuple = (
                    unsettled_trans_df.loc[unsettled_trans_df['date_created'] == transaction_dates[i]]['id'])
                if trans_ids_for_date_tuple.all() in duplicated_unsettled_transaction_ids:
                    duplicated_trans_id = (
                        unsettled_trans_df.loc[unsettled_trans_df['date_created'] == transaction_dates[i+1]]['id'])
                    duplicated_unsettled_transaction_ids.add(duplicated_trans_id.any())
                else:
                    first_trans_id = (
                        unsettled_trans_df.loc[unsettled_trans_df['date_created'] == transaction_dates[i]]['id'])
                    non_duplicated_unsettled_transaction_ids.add(first_trans_id.any())
                    duplicated_trans_id = (
                        unsettled_trans_df.loc[unsettled_trans_df['date_created'] == transaction_dates[i+1]]['id'])
                    duplicated_unsettled_transaction_ids.add(duplicated_trans_id.any())
            else:
                if transaction_dates[i+1] == transaction_dates[-1]:
                    date_tuple = (transaction_dates[i], transaction_dates[i+1])
                    non_duplicated_transaction_id = (
                        unsettled_trans_df.loc[unsettled_trans_df['date_created'].isin(date_tuple)]['id'])
                    for _id in non_duplicated_transaction_id:
                        non_duplicated_unsettled_transaction_ids.add(_id)
                else:
                    non_duplicated_transaction_id = (
                            unsettled_trans_df.loc[unsettled_trans_df['date_created'] == transaction_dates[i]]['id'])
                    non_duplicated_unsettled_transaction_ids.add(non_duplicated_transaction_id.any())

In [135]:
payments_df['duplicated_transactions'] = ([1 if _id in duplicated_unsettled_transaction_ids else 0 
                                           for _id in payments_df['id']])
payments_df['non_duplicated_transactions'] = ([1 if _id in non_duplicated_unsettled_transaction_ids else 0 
                                               for _id in payments_df['id']])

In [136]:
payments_df['true_transactions'] = ([1 if status=='settled' else 0 
                                     for status in payments_df['status']])

In [137]:
payments_df['false_transactions'] = ([1 if _id in duplicated_transaction_ids else 0 
                                     for _id in payments_df['id']])

In [138]:
w = payments_df.loc[payments_df['actor_id'].isin(actors_with_only_unsettled_transactions)]
w = w.sort_values(['actor_id', 'date_created'])
w

,note,date_created,id,status,actor_id,merchant_split_purchase,date_completed,target_type,target_user_id,target_redeemable_target,action,audience,duplicated_transactions,non_duplicated_transactions,true_transactions,false_transactions
46209,üêâüí∏,2018-07-27 05:53:06,2532544130827944082,pending,1001579217944576588,None,NaT,phone,NaN,None,pay,public,0,1,0,0
185272,For bills on Splitwise.com,2018-07-28 09:45:36,2533385929838559349,pending,1027773569171456704,None,NaT,email,NaN,None,pay,public,0,1,0,0
312957,strippers,2018-07-29 07:51:55,2534053487981887670,pending,1061211122696192056,None,NaT,phone,NaN,None,pay,public,0,1,0,0
217764,üç∫üçªüçæüç∏üèÑüèº‚Äç‚ôÇÔ∏è,2018-07-28 16:19:12,2533584036144612117,pending,1065173842395136519,None,NaT,email,NaN,None,pay,public,0,1,0,0
277211,For bills on splitwise.com,2018-07-29 02:15:55,2533884367923577588,pending,1065485470793728162,None,NaT,email,NaN,None,pay,public,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332446,For bills on splitwise.com,2018-07-29 12:54:36,2534205832384479776,pending,795152629104640109,None,NaT,email,NaN,None,pay,public,0,1,0,0
141970,üÖø,2018-07-28 02:19:04,2533161181758095744,pending,942905770377216560,None,NaT,phone,NaN,None,pay,public,0,1,0,0
75957,üèÉof the üêÇ,2018-07-27 15:36:43,2532837872046702664,pending,965909145452544370,None,NaT,email,NaN,None,pay,public,0,1,0,0
77304,ü¶å,2018-07-27 15:38:42,2532838871087972809,pending,968377199755265002,None,NaT,email,NaN,None,pay,public,0,1,0,0
120761,üç∫ Go Cubbies,2018-07-27 23:03:06,2533062548211630171,pending,997952638156800648,None,NaT,redeemable,NaN,"{'type': 'imessage', 'display_name': 'a user o...",pay,public,0,1,0,0

In [139]:
payments_df.loc[payments_df['actor_id'] == '1765967508013056858']

,note,date_created,id,status,actor_id,merchant_split_purchase,date_completed,target_type,target_user_id,target_redeemable_target,action,audience,duplicated_transactions,non_duplicated_transactions,true_transactions,false_transactions
337286,split wise,2018-07-29 13:36:24,2534226865686577579,pending,1765967508013056858,None,NaT,email,NaN,None,pay,public,0,1,0,0
337461,Marty‚Äôs üéâ,2018-07-29 13:37:26,2534227391878791965,pending,1765967508013056858,None,NaT,email,NaN,None,pay,public,1,0,0,0
337669,Marty‚Äôs üéâ,2018-07-29 13:38:32,2534227943522042510,pending,1765967508013056858,None,NaT,email,NaN,None,pay,public,1,0,0,0
337758,Marty‚Äôs üéâ,2018-07-29 13:39:00,2534228176280748249,pending,1765967508013056858,None,NaT,email,NaN,None,pay,public,1,0,0,0
336594,Marty‚Äôs üéâ,2018-07-29 13:39:24,2534228374218342824,pending,1765967508013056858,None,NaT,email,NaN,None,pay,public,1,0,0,0

In [140]:
payments_df.loc[payments_df['actor_id'] == '2532561196679168944']

,note,date_created,id,status,actor_id,merchant_split_purchase,date_completed,target_type,target_user_id,target_redeemable_target,action,audience,duplicated_transactions,non_duplicated_transactions,true_transactions,false_transactions
52945,ok,2018-07-27 08:20:40,2532618399310152539,pending,2532561196679168944,None,NaT,phone,NaN,None,pay,public,0,1,0,0
53109,ok,2018-07-27 08:21:38,2532618887619412607,pending,2532561196679168944,None,NaT,phone,NaN,None,pay,public,1,0,0,0

In [141]:
payments_df.loc[payments_df['actor_id'] == '2426365336879104486']

,note,date_created,id,status,actor_id,merchant_split_purchase,date_completed,target_type,target_user_id,target_redeemable_target,action,audience,duplicated_transactions,non_duplicated_transactions,true_transactions,false_transactions
289483,For bills on splitwise.com,2018-07-29 04:25:49,2533949749850014443,pending,2426365336879104486,None,NaT,email,NaN,None,pay,public,0,1,0,0
289571,For bills on splitwise.com,2018-07-29 04:26:46,2533950229737112392,pending,2426365336879104486,None,NaT,email,NaN,None,pay,public,1,0,0,0
290163,For bills on splitwise.com,2018-07-29 04:29:16,2533951484622537561,pending,2426365336879104486,None,NaT,email,NaN,None,pay,public,1,0,0,0

If users have only made one unsettled transaction, flag users. 

- If those users opened the account recently, it is less likely that they will make a transaction soon given their bad experience with the app. Moreover, we are looking at a history of 2 months, so if they recently opened an account, made an unsuccessful transaction and haven't made one again then we are better off dropping them as they will just be adding noise. 

- On the other hand, if their account has been active for a longer time period this means that they have probable made more than the unsuccesful transaction in the past. So it is best to keep them.

- If they have made more than one transaction in a close time period, then drop unsucessful and keep succesful one only.

The 2422 values missing in the date_completed and target_user_id col come from those transactions that don't have a payee and as such they are never completed (deemed as pending or cancelled).

In [ ]:
# Rename col id to payment_id for easier recognition in the db
payments_df = payments_df.rename(columns = {"id": "payment_id"})

In [ ]:
# Investigate the non null values in merchant_split_purchase
payments_df.loc[payments_df['merchant_split_purchase'].notnull()].head()

They all appear to be charges instead of payments. We will unpack the merchant_split_purchase into two different cols

In [ ]:
payments_df = payments_df.drop('merchant_split_purchase', 1).assign(**payments_df['merchant_split_purchase']
                                                                    .dropna().apply(pd.Series))

In [ ]:
payments_df.info()

In [ ]:
# Rename to miror the json structure
payments_df = payments_df.rename(columns = {"authorization_id": "merchant_authorization_id"})

In [ ]:
# Investigate the non null values in target_redeemable_target
payments_df.loc[payments_df['target_redeemable_target'].notnull()]['target_redeemable_target'].head()

Same thought process as with the merchant_split_purchase col

In [ ]:
payments_df = payments_df.drop('target_redeemable_target', 1).assign(**payments_df['target_redeemable_target']
                                                                     .dropna().apply(pd.Series))

In [ ]:
# Rename to miror the json structure
payments_df = payments_df.rename(columns = {"display_name": "target_redeemable_target_display_name",
                                            "type": "target_redeemable_target_type"})

In [ ]:
payments_df.info()

## Dropping resulting payments table into the venmo_transactions db

In [ ]:
# Retrieve information about the venmo_transactions db
keys = fn.get_keys("/Users/jjherranzsarrion/.secret/local_info.json")
username = keys['username']
password = keys['password']

In [ ]:
# Move payments_df table into the database
engine = create_engine(f'postgresql://{username}:{password}@localhost/venmo_transactions')
payments_df.to_sql('payments', engine)